<div class="row">
	<section class="main col-md-12">
		<article>
			<h2>Abel Inocencio - the developer</h2>
			<p>I am a current Computer Programming student at Seneca College, and have transfered from the Information and Security Program
				(IFS) upon graduation. It is my lifelong dream to be proficient with programming and development, and to turn my ideas
				into realities. I am loving this program so much, and have learned so much!
			</p>
		</article>
	</section>
</div>